<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba: Consultas Círculo de crèdito</title>
</head>
<body>
    <h3>Aquí empieza lo weno</h3>
    <form action="{% url 'consultaCC' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-flat btn-primary">HACER CONSULTA DE PRUEBA</button>
    </form>
</body>
</html>